@use 'node_modules/@angular/material' as mat;
@import '@angular/material/theming';

$mat-myapp-primary: (
    50: #ebf8f5,
    100: #cceee6,
    200: #abe3d6,
    300: #E0F3EF,
    400: #6fcfb9,
    500: #56c6ad,
    600: #56c6ad,
    700: #45b99c,
    800: #3cb193,
    900: #56c6ad,
    A100: #e7fff8,
    A200: #b4ffe9,
    A400: #81ffda,
    A700: #68ffd3,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$mat-myapp-accent: (
    50: #ffffff,
    100: #fff7f4,
    200: #fecdbd,
    300: #fc9977,
    400: #fc8259,
    500: #fb6c3b,
    600: #fa551d,
    700: #f44205,
    800: #d63a04,
    900: #b83204,
    A100: #ffffff,
    A200: #fff7f4,
    A400: #fc8259,
    A700: #f44205,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$primary: mat.define-palette($mat-myapp-primary);
$accent: mat.define-palette($mat-myapp-accent);

$theme: mat.define-light-theme($primary, $accent);

@include mat.all-component-themes($theme);